body{
    background: linear-gradient(45deg, #48077e, rgb(80, 2, 80) );
    background-repeat: no-repeat;
    background-size: auto;
    display: grid;
    height: 100vh;
    align-items: center;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div{
    margin: 0 auto;
    background-color: #fff;
    padding: 0 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(146, 143, 143);
}
#input{
    outline: none;
    width: 300px;
    padding: 0.3rem .5rem;
    border-radius: 10px;
    border: .2px solid;
}
.noEntry{
    background-color: #f59494;
    padding: 3px 0;
    display: none;
    margin-bottom: 0;
}
.emptyEntry{
    display: block;
}
button{
    margin-top: 10px;
    background-color: dodgerblue;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(146, 143, 143);
    padding: 0.4rem 0.7rem;
}
#messageDisplay{
    color: green; 
}